@use "sass:math";

@function pxtorem($value) {
    @return #{math.div($value, 16)}rem;
}

// Breakpoints
$breakpoints: (
    sm: pxtorem(540),
    md: pxtorem(720),
    lg: pxtorem(960),
    xl: pxtorem(1140)
);


@mixin breakpoint($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }